Source: ros-noetic-ocean-battery-driver
Section: misc
Priority: optional
Maintainer: ROS Orphaned Package Maintainers <ros-orphaned-packages@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), liblog4cxx-dev, ros-noetic-catkin, ros-noetic-diagnostic-msgs, ros-noetic-diagnostic-updater, ros-noetic-pr2-msgs, ros-noetic-roscpp
Homepage: http://www.ros.org/wiki/ocean_battery_driver
Standards-Version: 3.9.2

Package: ros-noetic-ocean-battery-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblog4cxx-dev, ros-noetic-diagnostic-msgs, ros-noetic-diagnostic-updater, ros-noetic-pr2-msgs, ros-noetic-roscpp
Description: This is an interface to the Ocean Server Technology Intelligent Battery and Power System.
