Source: ros-indigo-power-monitor
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-dynamic-reconfigure, ros-indigo-pr2-msgs, ros-indigo-roscpp, ros-indigo-std-msgs
Homepage: http://www.ros.org/wiki/power_monitor
Standards-Version: 3.9.2

Package: ros-indigo-power-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-dynamic-reconfigure, ros-indigo-pr2-msgs, ros-indigo-roscpp, ros-indigo-std-msgs
Description: The power_monitor collects messages from the ocean_battery_server and the pr2_power_board, and publishes a summary of their data in a friendlier message format.
